---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogListing from "../components/BlogListing.astro";
---

<BaseLayout title="takacsmark.com Blog">
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto">
      <BlogListing />
    </div>
  </div>
</BaseLayout>
