---
import Hero from "../components/Hero";
import BlogFeatured from "../components/BlogFeatured";
import PorfolioFeatured from "../components/PortfolioFeatured.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <meta name="descrption" content="TODO" />
    <meta name="author" content="TODO" />
    <link rel="canonical" href="TODO" />
  </head>
  <body>
    <div>
      <Hero topNavigationScrollPX={42} client:load />
      <BlogFeatured />
      <PorfolioFeatured />
      <Footer />
    </div>
  </body>
</html>
